@import '../accets/style/sass/variables';
@import '../accets/style/sass/mixins';

@media screen and (min-width: 768px) {
  .mobileNavigation {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .desktopNavigation {
    display: none;
  }
}

.header {
  position: fixed;
  height: 68px;
  width: 100%;
  background:   #379683 ;
  @include positionBlocks(row, space-between, center);
  box-sizing: border-box;
  margin: 0;
  z-index: 100;

  .burger {
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
    color: gold;
  }

  &:hover {
    color: lightgreen;
  }
}