@import '../../../accets/style/sass/variables';
@import "../../../global";

.nav {
  max-width: 400px;
  display: flex;
  justify-content: space-between;
  font-size: 22px;
  gap: 2rem;
}
a {
  color:lightgoldenrodyellow;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;

  &:hover {
    color: gold;

    &::before {
      width: 100%;
    }
  }
  &::before {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    height: 3px;
    background: gold; ;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    bottom: 0;
  }
}
.hamburger {
  display: none;
}
@media (max-width: 830px) {
  .hamburger {
    display: flex;
    justify-content: center;
    color: $mainColor;
    padding-bottom: 10px;
    cursor: pointer;
    font-weight: 500;
  }
}
