.nav {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    padding: 5rem;
}
.nav a {
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: 0.5px;
    color: #000;
    text-decoration: none;
    transition: transform .3s ease;
}
.nav a:hover {
    font-weight: 600;
    /*font-size: 2rem;*/
    line-height: 3rem;
    letter-spacing: 0.1rem;
    color: gold;
    text-decoration: none;
    transform: scale(1.1);
    cursor: pointer;
}
.mobileNavigation {
    display: none;
}
@media (max-width: 830px) {
    .mobileNavigation {
        display: flex;
        position: absolute;
        right: 2.5rem;
        top: 2.9rem;
        cursor: pointer;
    }
    .nav {
        display: none;
    }
}