@import "src/accets/style/sass/variables";

@mixin textStyle($fontSize, $lineHeight) {
  color: $color-secondary;
  font-family: $font-family;
  font-size: $fontSize;
  line-height: $lineHeight;
  word-break: break-word;
}
@mixin positionBlocks($flexDirection, $justifyContent, $alignItems){
  display: flex;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
}